@model IEnumerable<YardControlSystem.Models.ViewModels.RampManagementViewModel>

@{
    ViewData["Title"] = "RampManagement";
}



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Sandėliai, rampos ir užsakymai</h2>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {

            <table class="table table-bordered table-striped" style="width:100%">
                <tr>
                    <td colspan="3" width="100%">
                        <h4>
                            @item.Warehouses.Company - @item.Warehouses.Address, @item.Warehouses.City
                        </h4>
                    </td>

                </tr>

                @foreach (var rampa in item.Ramps)
                {


                    @if (rampa.WarehouseId == item.Warehouses.Id)
                    {

                        <tr>

                            <td colspan="3" width="25%">
                                <h6>
                                    Rampa @rampa.Number
                                </h6>
                            </td>

                        </tr>
                    }

                    @foreach (var operation in item.Operations)
                    {
            <tr>
                @if (item.Warehouses.Id == operation.WarehouseId && operation.RampId == rampa.Id)
                {
                    @if (operation.ReservedDate.AddMinutes(operation.Duration) > DateTime.Now && operation.DepartureDate == null)
                    {
                        <td width="25%"> @operation.Order.TrailerLicensePlate</td>

                        @if (operation.ArrivalDate != null)
                        {
                            <td width="25%">Turi išvykti iki @operation.ReservedDate.AddMinutes(operation.Duration)</td>
                            <td>
                                <a asp-controller="Ramp" asp-action="CheckDone" asp-route-Id="@operation.Id" class="btn btn-primary mx-1">Pažymėti išvykimą</a>
                            </td>
                        }
                        else
                        {
                            <td width="25%">Rezervuota data @operation.ReservedDate</td>
                            <td>
                                <a asp-controller="Ramp" asp-action="CheckDone" asp-route-Id="@operation.Id" class="btn btn-primary mx-1">Pažymėti atvykimą</a>
                            </td>
                        }

                        break;
                    }

                }

            </tr>
                    }
                }
            </table>

        }
    }
    else
    {
        <p>Nėra rampų.</p>
    }

</div>
