@model List<YardControlSystem.Models.ViewModels.OrderViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Mano užsakymai</h2>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0) {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Užsakymo nr.
                    </th>
                    <th>
                        Sukūrimo data
                    </th>
                    <th>
                        Pakrovimo vieta
                    </th>
                    <th>
                        Iškrovimo vieta
                    </th>
                    <th>
                        Transporto priemonės nr.
                    </th>
                    <th>
                        Pakrovimo data
                    </th>
                    <th>
                        Iškrovimo data
                    </th>
                    <th>
                        Veiksmai
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="25%">@obj.Order.OrderNr</td>
                    <td width="25%">@obj.Order.DateOfCreation.ToShortDateString()</td>
                    <td width="25%">@obj.PickUpWarehouse.Address</td>
                    <td width="25%">@obj.DropOffWarehouse.Address</td>
                    <td width="25%">@obj.Order.TrailerLicensePlate</td>
                    @if (obj.PickUpOperation.ArrivalDate == null)
                    {
                        @if (obj.PickUpOperation.ReservedDate.Equals(DateTime.MinValue))
                        {
                            <td width="25%"></td>
                        }
                        else
                        {
                            <td width="25%">@obj.PickUpOperation.ReservedDate</td>
                        }
                        @if (obj.DropOffOperation.ReservedDate.Equals(DateTime.MinValue))
                        {
                            <td width="25%"></td>
                        }
                        else
                        {
                            <td width="25%">@obj.DropOffOperation.ReservedDate</td>
                        }
                        <td>
                            <a asp-controller="Order" asp-action="UpdateDriverOrderView"
                               asp-route-Id="@obj.Order.OrderNr" class="btn btn-primary">Atnaujinti priskirtą užsakymą</a>
                        </td>
                    }
                    else
                    {
                        @if (obj.DropOffOperation.DepartureDate == null)
                        {
                            <td colspan="3" width="25%">Užsakymas vykdomas</td>
                        }
                        else
                        {
                            <td colspan="3" width="25%">Užsakymas įvykdytas</td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nėra užsakymų.</p>
    }

</div>

